@model ItemModel


<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class ="card">
                <div class="card-header bg-primary text-white">
                    <h2>Kreiranje stavke</h2>
                </div>
                <div class="card-body">
                    <form asp-action="Create" method="post" >
                        <div class="form-group mb-3">
                            <label asp-for="Product" class="form-label">Stavka</label> 
                            <input asp-for="Product" class="form-control" placeholder="Upišite stavke" />
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Amount" class="form-label">Količina</label>
                            <input asp-for="Amount" row="5" class="form-control" placeholder="Upišite količinu " />
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="PricePerPeace" class="form-label">Cijena po količini</label>
                            <input asp-for="PricePerPeace" class="form-control" placeholder="Upišite cijenu po količini" />
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="UnitOfQuantity" class="form-label">Jredinica količine</label>
                            <input asp-for="UnitOfQuantity" class="form-control" placeholder="Upišite jedinicu količine" />
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary">Create</button>
                            <a asp-controller="ItemEntry" asp-action="Index" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>