@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobro došli    <p>@ViewData["Company"]</p>
    </h1>
    <p>Sve da vaše poslovanje bude zeleno <a href="https://zelenetehnologije.hr/"></a>.</p>
</div>